<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="/Users/mironchuduk/IdeaProjects/my-amazon-testing">
        <classes>
            <class name="tests.TestCase_1_1">
                <methods>
                    <include name="checkAuthorization"/>
                </methods>
            </class>
            <class name="tests.TestCase_1_2to4">
                <methods>
                    <include name="checkSearchProducts"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>